menu "WiFi Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "mywifi"
        help
            SSID (network name) for the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the WiFi network.

    config WIFI_MAXIMUM_RETRY
        int "Maximum retry attempts"
        default 5
        help
            Set the maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
endmenu

menu "NTP Timesync Configuration"
    config TIMESYNC_INTERVAL
        int "NTP Timesync Interval"
        default 86400
        help
            Interval between NTP syncs, in seconds. Default is 86400 for once a day.
endmenu

menu "MQTT Configuration"
    config MQTT_BROKER_URL
        string "MQTT Broker URL"
        default ""
        help
            The full URL for your MQTT broker.
    config MQTT_USERNAME
            string "MQTT username"
            default ""
            help
                The username to connect to the MQTT broker with.
    config MQTT_PASSWORD
            string "MQTT password"
            default ""
            help
                The password to connect to the MQTT broker with.
endmenu